<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('<%= asset_path("acceuil.jpg") %>'); background-position: center top; text-align: right;">
  <div class="container">
    <h1>Trouvez votre résidence en 1 clique !</h1>
    <p>Grace à notre comparateur, trouvez facilement votre résidence sénior selon vos critères</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div>
